<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div>
    <p>Number of products: <%= @products %></p>
    <p>Number of categories: <%= @categories %></p>
  </div>

</section>